* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 100%;
    min-width: 480px;
    margin: auto;
}

.content,
.sidebar {
    height: 200px;
}

.content {
    background-color: yellow;
}

.sidebar {
    background-color: greenyellow;
}

@media (min-width: 768px) {
    .container {
        display: flex;
    }
    .content {
        flex-basis: 70%;
    }
    .sidebar {
        flex-basis: 30%;
    }
}