@import url('base.css');
.wrapper {
    width: 64rem;
    margin: 3.125rem auto;
    padding: 6.25rem 3.75rem;
    background-color: #fff;
}

.title {
    margin-bottom: 3rem;
    text-transform: uppercase;
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 2rem;
    color: #263555;
}

.section-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.gallery-image {
    flex-basis: 32%;
    margin-bottom: 2.5rem;
}

.link:hover>span {
    display: block;
}

span {
    display: none;
    background: url(../img/zoom.png) no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
}