@import url('base.css');
ul {
    list-style-type: none;
    background-color: bisque;
}

li {
    display: inline-block;
}

.link {
    display: block;
    width: 3.125rem;
    height: 3.125rem;
    background-image: url('../img/css_sprites.png');
}

.link:hover {
    filter: opacity(50%);
}

.bg-social_1 {
    background-position: -0.625rem -0.625rem;
}

.bg-social_2 {
    background-position: -4.375rem -0.625rem;
}

.bg-social_3 {
    background-position: -0.625rem -4.375rem;
}

.bg-social_4 {
    background-position: -4.375rem -4.375rem;
}