.footer-top {
    display: flex;
    justify-content: space-between;
    background-color: #30455b;
    padding: 2.75rem 8.75rem;
    margin-bottom: 1.5rem;
}

.footer-list {
    flex-basis: 66%;
    columns: 3;
    list-style-type: none;
    width: 100%;
}

.footer-link {
    text-decoration: none;
}

.footer-link,
.footer-contact-info {
    font-family: 'open sans', sans-serif;
    font-size: 1rem;
    color: #fff;
    text-transform: uppercase;
}

.footer-contact-info {
    flex-basis: 17%;
}

.footer-contact {
    display: block;
    font-size: 0.75rem;
}

.footer-contactt:last-child {
    text-transform: lowercase;
}

.footer-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3.125rem;
}

.social-list {
    list-style-type: none;
    background-color: transparent;
}

.social-list-item {
    display: inline-block;
}

.social-link {
    display: block;
    width: 3.125rem;
    height: 3.125rem;
    background-image: url('../img/css_sprites.png');
}

.social-link:hover {
    filter: opacity(50%);
}

.bg-social_1 {
    background-position: -0.625rem -0.625rem;
}

.bg-social_2 {
    background-position: -4.375rem -0.625rem;
}

.bg-social_3 {
    background-position: -0.625rem -4.375rem;
}

.bg-social_4 {
    background-position: -4.375rem -4.375rem;
}

.copyright-content {
    color: #fff;
    font-size: 0.75rem;
}

.copyright-content a {
    text-decoration: none;
    color: #fff;
}