* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 480px;
    margin: auto;
    padding: 28px 36px;
}

.article {
    margin-top: 32px;
}

.title {
    text-transform: uppercase;
    font-size: 24px;
}

img {
    margin-top: 32px;
    display: block;
    width: 408px;
    background-size: cover;
}

.paragraph {
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #4e5050;
    line-height: 16px;
    margin-top: 20px;
}

.sub-title {
    margin-top: 28px;
}

.principles-list {
    margin-left: 36px;
}

.sub-title,
.sub-title-list,
.offer {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
}

.title,
.sub-title,
.sub-title-list,
.offer {
    color: #263555;
}

.sub-title-list {
    margin-top: 20px;
}

.offer-list {
    margin-top: 36px;
    margin-left: 22px;
    columns: 2;
}

.principles-list,
.offer-list {
    list-style-type: none;
}

.principles-item {
    margin-top: 26px;
}

.article:last-child {
    margin-top: 104px;
}

.offer {
    margin-top: 20px;
}

.offer:first-child {
    margin-top: 0;
}